{%extends 'base.html'%}
{%block title_block%}
<title>Movie-detail</title>

{%endblock%}
{%block main_block%}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Title:{{data.title}}</li>
          <li class="list-group-item">Year:{{data.year}}</li>
          <li class="list-group-item">Director:{{data.director}}</li>
          <li class="list-group-item">Languange:{{data.language}}</li>
          <li class="list-group-item">Genre:{{data.genre}}</li>
          <li class="list-group-item">Run_time:{{data.run_time}}</li>
          <li class="list-group-item">Producer:{{data.producer}}</li>
        </ul>
    </div>
</div>


{%endblock%}